<phpunit bootstrap="vendor/autoload.php"
    colors="true"
    stopOnFailure="false"
    failOnWarning="true">
    <php>
        <ini name="error_reporting" value="-1" />
    </php>
    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <exclude>
            <directory>./vendor</directory>
        </exclude>
    </source>
    <testsuites>
        <testsuite name="Feature Test Suite">
            <directory>./tests/Feature</directory>
        </testsuite>
        <testsuite name="Unit Test Suite">
            <directory>./tests/Unit</directory>
        </testsuite>
    </testsuites>
</phpunit>