<phpunit bootstrap="vendor/autoload.php">
    <php>
        <ini name="error_reporting" value="-1"/>
    </php>
    <testsuites>
        <testsuite name="Feature Test Suite">
            <directory>./tests/Feature</directory>
        </testsuite>
        <testsuite name="Unit Test Suite">
            <directory>./tests/Unit</directory>
        </testsuite>
    </testsuites>
</phpunit>
